.Red {
  color: red;
  width: 50px;
}
.Yellow {
  color: Yellow;
  width: 50px;
}

.Blue {
  color: Blue;
  width: 50px;
}

.Orange {
  color: Orange;
  width: 50px;
}

.Green {
  color: Green;
  width: 50px;
}
